body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  height: 10vh;
  bottom: 0;
  position: sticky;
  background-color: rgb(232, 228, 228);
}

navbar {
  display: none;
}

.navdown {
  display: none;
}

.left {
  float: left;
  box-sizing: border-box;
  margin-left: 2rem;
  height: 3rem;
  width: 3rem;
}

.image {
  height: 4rem;
  width: 5rem;
}

.right {
  float: right;
  margin-right: 2rem;
  margin-top: 0.7rem;
  height: 7vh;
}

.li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
}

.link:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, rgb(239, 65, 45), rgb(79, 41, 32));
}

/* home section css */

.home {
  width: 100vw;
  height: 100rem;
}

.sec-one {
  height: 35rem;
  width: 95vw;
  margin: 2rem;
  display: flex;
}

.box-one {
  width: 50rem;
  height: 32rem;
  margin: 1rem;
}

.box-one > img {
  width: 45rem;
  height: 30rem;
  border-radius: 7px;
}

.box-one > h1 {
  color: black;
}

.sec-two {
  height: 40rem;
  width: 95vw;
  margin: 2rem;
  display: flex;
}

.box-two {
  width: 50rem;
  height: 40rem;
  margin: 1rem;
}

.box-two > img {
  width: 45rem;
  height: 36rem;
  border-radius: 7px;
}

.rows {
  height: 16rem;
  width: 35rem;
  margin: 2rem;
  display: flex;
}

.cols {
  width: 18rem;
  height: 15rem;
  margin: 1rem;
  text-align: center;
  background: rgb(185, 222, 236);
  border-radius: 8px;
}

.cols > h1 {
  font-size: 20px;
}
.cols > p {
  font-size: 15px;
  margin: 10px;
}

.sec-three {
  width: 95vw;
  height: 17rem;
  margin-top: 3rem;
}

.cont-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(247, 225, 228);
  border-radius: 8px;
  margin: 5rem 3rem 3rem 3rem;
  height: 10rem;
  width: 18rem;
}

.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon > span {
  margin-left: 5px;
}

.box-three > p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.box-3 {
  width: 45rem;
  height: 35rem;
  border-radius: 7px;
  margin-top: 2rem;
}

.box-3 > img {
  width: 45rem;
  height: 35rem;
  border-radius: 7px;
}

/* Contact Section Starts Here */

.container {
  width: 100vw;
  height: 88.5vh;
}

.section {
  margin: 0 3rem 2rem 4rem;
  padding: 0rem;
  width: 90vw;
  height: 38rem;
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: brown;
  font-size: 3rem;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

/* Contact Section CSS Starts Here */

.sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.sec-left {
  height: 60vh;
  width: 40vw;
}

.sec-right {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan {
  color: black;
  font-size: 3.5rem;
  margin-top: 6rem;
}

.btn-contact {
  height: 3rem;
  width: 8rem;
  margin: 0rem 2rem 2rem 0rem;
  background: transparent;
  transition: all 0.5s;
}

.btn-contact:hover {
  color: whitesmoke;
  background-color: #000;
  border-radius: 5px;
}

.btn-contact span {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-contact span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-contact:hover span {
  padding-right: 25px;
  cursor: pointer;
}

.btn-contact:hover span:after {
  opacity: 1;
  right: 0;
}

.box {
  height: 3rem;
  width: 10rem;
  margin: 0 1rem 1rem 1rem;
  display: flex;
}

.icon {
  font-size: 2rem;
  margin: auto 5px auto;
}

.text-cont {
  text-align: center;
  margin: auto auto auto 0;
}

.text-cont:hover {
  background: linear-gradient(90deg, rgb(239, 65, 45), rgb(79, 41, 32));
  color: whitesmoke;
  line-height: 1.5rem;
  border: 1px solid black;
}

.text-cont > a {
  text-decoration: none;
  color: black;
}

.text-a:hover {
  color: whitesmoke;
}

/* FORM SECTION */

.container {
  width: 100vw;
  height: 88.5vh;
  display: flex;
}

.form-container {
  margin: auto auto auto 4rem;
  width: 50vw;
  height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin: 20px;
  border: 2px solid black;
  width: 40rem;
  height: 2rem;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

form > textarea {
  margin: 20px;
  width: 40rem;
  font-size: 1rem;
  border: 2px solid black;
  font-family: "Roboto Mono", monospace;
}

.btn-form {
  height: 3rem;
  width: 8rem;
  margin: 0.5rem 2rem 2rem 1.4rem;
  background: transparent;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

.btn-form:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: whitesmoke;
}

.text {
  width: 25vw;
  height: 60vh;
  margin: 4rem auto auto auto;
}

.container-faq {
  margin: auto;
  width: 90vw;
}

.container-faq > p {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Services section css */

.container-services {
  width: 90vw;
  height: 100vh;
  margin: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2rem;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.boxes {
  border: 5px solid black;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff79;
  box-shadow: 10px 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.h1-serv {
  margin-left: 4rem;
}

footer {
  margin-top: 0.8rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN STARTS HERE */

@media screen and (min-width: 320px) and (max-width: 426px) {
  body {
    overflow-x: hidden;
    min-height: 100vh;
  }
  /* HOME SECTION STARTS */
  .home {
    width: 20rem;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    height: 160rem;
  }

  .sec-one {
    display: flex;
    height: 54rem;
    width: 16rem;
    margin: 1rem;
    flex-direction: column;
  }

  .sec-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88rem;
    width: 16rem;
  }

  .box-one {
    width: 16rem;
    height: 22rem;
    text-align: center;
    margin: 0 auto 1rem auto;
  }

  .box-one > img {
    width: 18rem;
    height: 22rem;
  }

  .box-one- {
    width: 16rem;
    height: 31rem;
    text-align: center;
    margin: 0 auto 0rem auto;
  }

  .box-one- > img {
    width: 18rem;
    height: 18rem;
  }

  .box-one- > h1 {
    color: black;
  }

  .box-two {
    flex-direction: column;
    height: 61rem;
    width: 15rem;
  }

  .rows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 15rem;
    margin: 0;
  }

  .cols {
    height: 13rem;
    width: 15rem;
  }

  .cont-three {
    flex-direction: column;
    width: 20rem;
  }

  .box-3 {
    width: 16rem;
    height: 21rem;
    margin: 1rem;
  }

  .box-3 > img {
    width: 15rem;
    height: 20rem;
    border-radius: 7px;
  }

  .sec-three {
    height: 42rem;
    width: 20rem;
  }

  .box-three {
    margin: 1rem 0 0 0;
    width: 14rem;
    height: 11rem;
  }

  .app-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes up at least the full viewport height */
  }

  footer {
    margin-top: auto;
  }
  /* NAVBAR AND ABOUT SECTION STARTS */
  nav {
    display: none;
  }

  navbar {
    display: block;
    height: 3.5rem;
    width: 100vw;
  }

  .navdown {
    display: block;
    width: 100vw;
    height: 12rem;
  }

  .container-abt {
    width: 100vw;
    height: 70rem;
    display: flex;
    background: #fff;
  }

  .left {
    margin-left: 1rem;
  }

  .right {
    margin-right: 1rem;
  }
  .image {
    height: 3rem;
    width: 4rem;
  }

  .li-res {
    list-style: none;
    padding: 5px;
  }

  .section {
    height: 60rem;
    width: 95vw;
    margin: 0 1rem 2rem 1rem;
  }

  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  p {
    font-size: 1.2rem;
  }

  /* SERVICES STARTS HERE */

  .container-services {
    width: 80vw;
    height: 142rem;
    margin: 0;
    overflow-x: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }

  .boxes {
    height: 7rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .h1-serv {
    font-size: 2rem;
    margin: 1rem 1rem 1rem 2rem;
    display: inline-block;
    background-color: aliceblue;
  }
  /* 
  CONATCT SECTION STARTS HERE */

  .container {
    margin-top: -1rem;
  }

  .sec-cont {
    height: 55rem;
    margin: 0;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .sec-left {
    width: 100vw;
    height: 30rem;
  }

  .slogan {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 3rem;
  }

  .btn-contact {
    margin-left: 1rem;
  }

  .sec-right {
    margin-left: 2rem;
  }

  /* FORM SECTION */

  .container-cont {
    height: 60rem;
  }

  .slogan {
    font-size: 2.2rem;
  }

  .slogan-res {
    width: 20rem;
  }

  .sec-right {
    margin-left: 3rem;
  }

  .cont-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 60rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 2rem;
    width: 80vw;
    height: 35rem;
  }

  form > input {
    width: 16rem;
  }

  form > textarea {
    width: 16rem;
  }

  .text {
    width: 19rem;
  }

  .container-faq {
    margin-bottom: 5rem;
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  /* HOME CSS STARTS */

  .home {
    width: 35rem;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    height: 160rem;
  }

  .sec-one {
    display: flex;
    height: 42rem;
    width: 35rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec-two {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 70rem;
    width: 35rem;
  }

  .box-one {
    width: 30rem;
    height: 22rem;
    text-align: center;
    margin: 0 auto 1rem auto;
  }

  .box-one > img {
    width: 30rem;
    height: 22rem;
  }

  .box-one- {
    width: 35rem;
    height: 31rem;
    text-align: center;
    margin: 0 auto 0rem auto;
  }

  .box-one- > img {
    width: 30rem;
    height: 18rem;
  }

  .box-one- > h1 {
    color: black;
    width: 35rem;
  }

  .box-two {
    flex-direction: column;
    height: 36rem;
    width: 35rem;
  }

  .rows {
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 35rem;
    margin: 0;
  }

  .cols {
    height: 14rem;
    width: 15rem;
  }

  .cont-three {
    flex-direction: column;
    width: 35rem;
  }

  .box-3 {
    width: 35rem;
    height: 25rem;
    margin: 1rem;
  }

  .box-3 > img {
    width: 35rem;
    height: 25rem;
    border-radius: 7px;
  }

  .sec-three {
    height: 42rem;
    width: 35rem;
  }

  .box-three {
    margin: 1rem 0 0 0;
    width: 30rem;
    height: 11rem;
  }

  .app-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes up at least the full viewport height */
  }

  footer {
    margin-top: auto;
  }

  /* ABOUT & NAV */

  nav {
    display: none;
  }

  navbar {
    display: block;
    height: 3.5rem;
    width: 100vw;
  }

  .navdown {
    display: block;
    width: 100vw;
    height: 12rem;
  }

  .container-abt {
    width: 100vw;
    height: 40rem;
    display: flex;
    background: #fff;
  }

  .left {
    margin-left: 1rem;
  }

  .right {
    margin-right: 1rem;
  }
  .image {
    height: 3rem;
    width: 4rem;
  }

  .li-res {
    list-style: none;
    padding: 5px;
  }

  .section {
    height: 40rem;
    width: 95vw;
    margin: 0 1rem 2rem 1rem;
  }

  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  /* SERVICES SECTION */

  .container-services {
    width: 91.5vw;
    height: 85rem;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .boxes {
    height: 7rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .h1-serv {
    font-size: 2rem;
    margin: 2rem 1rem 1rem 2rem;
    display: inline-block;
    background-color: aliceblue;
  }

  /* CONTACT SECTION */

  .container-cont {
    height: 65rem;
    margin-top: 1rem;
  }

  .sec-cont {
    height: 65rem;
    margin: 2rem;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .sec-left {
    width: 100vw;
    height: 30rem;
  }

  .slogan {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 3rem;
  }

  .btn-contact {
    margin-left: 1rem;
  }

  .sec-right {
    margin-top: 0;
    margin-left: -1rem;
  }

  /* FORM SECTION */

  .cont-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 60rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 2rem;
    width: 80vw;
    height: 35rem;
  }

  form > input {
    width: 40rem;
  }

  form > textarea {
    width: 40rem;
  }

  .text {
    width: 40rem;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  /* HOME SECTION STARTS FROM HERE */

  body {
    overflow-x: hidden;
    min-height: 100vh;
  }

  .app-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes up at least the full viewport height */
  }

  .home {
    flex: 1;
  }

  .app-container {
    overflow-x: hidden;
  }

  .box-one {
    width: 30rem;
  }

  .box-one > img {
    width: 30rem;
  }

  .box-one- {
    text-align: center;
  }

  .box-one- > h1 {
    color: black;
    font-size: 2rem;
    margin-top: 5rem;
  }

  .sec-two {
    display: flex;
    flex-direction: column;
    height: 80rem;
  }

  .box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
  .box-3 {
    width: 95vw;
    height: 30rem;
  }
  .box-3 > img {
    width: 60rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-three {
    height: 20rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  /* ABOUT SECTION */
  .container-abt {
    height: 50rem;
  }

  /* SERVICES CONTAINER */

  .container-services {
    height: 50rem;
  }

  /* CONTACT SECTION */

  .container-cont {
    height: 60rem;
  }

  .section {
    height: 55rem;
  }

  .sub-section {
    height: 55rem;
  }
  .sec-left {
    height: 55rem;
  }
  .sec-right {
    height: 45rem;
    justify-content: none;
  }
  /* FORM SECTION */

  .cont-form {
    height: 45rem;
  }
  .form-container {
    width: 45vw;
    margin: 4rem auto auto 4rem;
  }

  form > input {
    width: 30rem;
  }

  form > textarea {
    width: 30rem;
  }

  .text > h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  footer {
    margin-top: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* SERVICES SECTION */

  .container-services {
    height: 60rem;
  }

  /* CONTACT SECTION */

  .container {
    height: 50rem;
  }

  .sub-section {
    height: 55rem;
  }

  .sec-left {
    height: 45rem;
  }

  .sec-right {
    height: 36rem;
  }

  /* FORM CSS STARTS */

  .container {
    height: 55rem;
  }

  .form-container {
    margin-top: 5rem;
  }

  /* FAQ SECTION */

  .container-faq {
    height: 70rem;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .box-one {
    width: 70rem;
  }

  .box-one- {
    width: 70rem;
    text-align: center;
  }

  .box-one- > h1 {
    color: black;
  }

  .box-two {
    width: 80rem;
  }

  .box-3 {
    width: 70rem;
  }

  .rows {
    width: 40rem;
  }

  .cols {
    height: 17rem;
  }

  .box-3 > img {
    width: 55rem;
  }
}
